extends layout

block content
  div.jumbotron
    div.starter-template
        h1 Album of the Day
        
        p.lead
          | Ashamed of your musical taste?
          br
          | Can't think of what to listen to next?
          br
          | Then you've come to the right place...
 
        p.lead
          | Proud of your musical taste?
          br
          | Eager to shove your playlists down other's throats?
          br
          | Then you've come to the right place...

